.upperBlueBarOfContactsPage {
  margin-top: 3vw;
  background-color: $myBlue;
  color: $myWhite;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  .title {
    align-self: center;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    flex-wrap: wrap;
    .bg {
      display: flex;
      justify-content: space-between;
    }
  }
}
@media only screen and (max-width: 576px) {
  .second {
    background-color: $myBlue;
    padding: 2rem;
    .title {
      justify-content: center;
      .bg {
        display: none;
      }
    }
  }
}
