.blueDownload {
  margin-top: 10px;
  background-color: $myBlue;

  .right {
    text-align: right;
    color: $myWhite;
    align-self: center;

    .store {
      display: flex;
      width: 55%;
      flex-flow: nowrap;
    }
    .store__icon {
      width: 50%;
      height: auto;
      border-radius: 1vw;
    }
    .store__icon:hover {
      cursor: pointer;
    }
  }

  .left {
    text-align: center;
  }
  .left__image {
    margin-top: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
