.darmanitoOptions {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2vw;
  text-align: right;

  .up {
    color: $myBlue;
    border-right: solid $myGreen;
    text-indent: 10px;
  }

  .images {
    display: block;
    .row1 {
      display: flex;
    }
    .row2 {
      display: flex;
    }
    .optionsIconStyle {
      width: 80%;
      height: auto;
    }
  }

  @media only screen and (max-width: 728px) {
    .images {
      display: block;
      .row1 {
        display: block;
      }
      .row2 {
        display: block;
      }
      .optionsIconStyle {
        width: 60%;
        height: auto;
      }
    }
  }
  @media only screen and (max-width: 575px) {
    .images {
      display: flex;
      overflow: scroll;
      .row1 {
        display: flex;
      }
      .row2 {
        display: flex;
      }
      .optionsIconStyle {
        width: 30vw;
        height: auto;
      }
    }
  }
  .down__left {
    text-align: right;
  }
  .step {
    margin-bottom: 0px;
    display: inline-block;
    text-indent: 0.5rem;
  }
  .step__description {
    text-indent: 1rem;
  }
  .fa-arrow-circle-down {
    color: $myCloudy;
    background-color: $myBlue;
    border-radius: 100%;
    font-size: 1.7em;
  }
  .fa-check-circle {
    color: $myGreen;
    font-size: 1.7em;
  }
}

.darmanitoOptionsIconStyle {
  width: 30%;
  height: auto;
  display: inline;
  @media only screen and (max-width: 992px) {
    display: block;
    width: 8rem;
    margin-right: 3rem;
  }
}
