.darmanitoApp {
  margin-top: 10px;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 4rem;
  overflow: hidden;

  .right {
    align-self: center;
    text-align: right;
    .title {
      color: $myBlue;
    }
    .button {
      @include commonButton;
      text-decoration: none;
    }
  }
  .left {
    .doctorSVGStyle {
      width: 100%;
      height: auto;
    }
    .bg {
      z-index: -1;
      position: absolute;
      right: 1px;
    }
  }
}
