.joinDrugStore {
  margin-top: 50px;
  margin: 5em;
  text-align: right;
  border-radius: 2vw;
  box-shadow: 1px 1px 10px 1px $myShadow;
  background-image: url("../assets/Path15631.png");
  background-repeat: no-repeat;
  z-index: -1;
  top: -30px;

  .right {
    padding: 2em;
    align-self: center;
    .title {
      text-indent: 0.2em;
      color: $myBlue;
      border-right: solid $myGreen;
    }
  }
  .left {
    overflow: hidden;
    place-self: center;
    .leftImage {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 800px) {
  .joinDrugStore {
    margin: 1em;
  }
}
