.navbar__small {
  display: none;
}
.navbar {
  background-color: $myWhite;
  white-space: nowrap;
  .header__smaill {
    display: none;
  }
  .header {
    width: 85%;
    margin: 0 auto;
    .logo {
      text-align: right;
    }
    .links {
      margin: 0 auto;
      text-align: center;
      padding-top: 1rem;
      .Navlinks {
        margin: 0 auto;
        text-align: center;
        .linkItem {
          .link {
            margin: 1rem;
            color: $myBlack;
            border-bottom: solid $myWhite;
            transition: 0.4s ease;
            text-decoration: none;
          }
          .link:hover {
            color: $myBlue;
            border-bottom: solid $myGreen;
            text-indent: 10px;
            text-decoration: none;
          }
        }
      }
    }
    .buttonCol {
      align-content: center;
      align-items: center;
      display: flex;
      .button {
        @include ghostButton;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar__small {
    display: none;
  }
  .navbar {
    font-size: 14px;
    .header__smaill {
      display: none;
    }
    .header {
      width: 95%;
      .logo {
        align-self: center;
        text-align: right;
        .logo-self {
          width: 7rem;
        }
      }
      .links {
        .Navlinks {
          margin: 0 auto;
          text-align: right;
          .linkItem {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 1rem;
            margin-bottom: 2rem;
            .link {
              margin: 0;
            }
          }
        }
      }
      .buttonCol {
        place-content: center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .navbar__small {
    display: block;
    .header {
      .logo {
        text-align: right;
        align-self: center;
        .logo-self {
          width: 7rem;
        }
      }
      .sandwichButtonCol {
        text-align: left;
        margin: 1rem;
      }
      .links {
        text-align: right;
        display: block;
        width: 100%;
        .link {
          margin: 1rem;
          color: $myBlack;
          border-right: solid $myWhite;
          transition: 0.4s ease;
          text-decoration: none;
          display: block;
          width: 100%;
        }
        .link:hover {
          color: $myBlue;
          border-right: solid $myGreen;
          text-indent: 10px;
          text-decoration: none;
        }
      }
      .buttonCol {
        display: block;
        text-align: right;
        margin-right: 1rem;
        .button {
          @include ghostButton;
        }
      }
    }
  }
}
