.joinFormNumber2 {
  text-align: right;
  margin-top: 2rem;
  .uploadButton {
    @include commonButton;
  }
  .uploadButton {
    @include commonButton;
  }
  .workHours {
    border-radius: 8px;
    padding: 0.3rem;
  }

  .workHours:hover {
    background-color: $myCloudy;
    border: 1px solid $myBlue;
  }

  .radio {
    white-space: nowrap;
  }

  .radio label {
    text-indent: 15px;
  }
}
