.joinFormModal {
  .body {
    text-align: right;
    align-self: center;
    padding-bottom: 0px;
    .title {
      text-align: center;
      margin-top: 2rem;
      color: $myGreen;
      font-weight: bold;
    }
  }

  .footer {
    .button {
      @include primaryButton;
      width: 20rem;
    }
  }
}
