.joinFormNumber3 {
  text-align: right;
  margin-top: 2rem;
  .uploadButton {
    @include commonButton;
  }
  .thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ddd;
  }
  .feedbacktitle {
    color: $myPlaceHolderInput;
  }
  .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .row2 {
    margin-bottom: 0px;
  }
  .row3 {
    margin-top: 0px;
  }
}
