.callCenter {
  margin-top: "10px";
  background-color: $myBlue;
  padding: 1rem;
  .right {
    color: $myWhite;
    text-align: center;
  }
  .left {
    align-self: center;
    text-align: center;
    .svg {
      width: 50%;
      height: auto;
      .content {
        display: flex;
      }
    }
  }
}
